/* colors */
$green: #067747;
$hr-green: #087746;
$footer-green: #00382B;
$sitemap-green: #004D3B;
$mint: #B1DDC9;
$secondary-nav-green: #77EC9B;
$black: #2B2B2D;
$grey: #666;
$light-grey: #b6b7b9;
$icon-grey: #B9B9BA;
$dark-grey: #616264;
$text-grey: #6D6E71;
$off-white: #F3F3F3;

/* old colors from gopep */
$text-red: #FF3E32;
$orange: #FF7F0F;
$button-red: #EF4035;
$text-orange: #F57F26;
$dark-grey: #727272;