/* contact */
#googleMap {
	margin-top: 37px;
	div#p_lt_wpzPagePlaceholder_pageplaceholder_pageplaceholder_lt_wpzGoogleMap_StaticGoogleMapsSmartCity_map {
		height: 200px !important;
		margin-bottom: 15px !important;
		@include breakpoint(small) {
			height: 400px !important;
			margin-bottom: 0 !important;
		}
	}
}
#contactMainContent {
	padding-left: 0;
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: #222222;
	.contactTitle {
		@extend %header;
		font-size: 30px;
	}
	.Office.row {
		margin-top: 25px;
		.OfficeName {
			@extend %header;
			font-size: 20px;
			margin-bottom: 15px;
		}
	}
	#staffTitle {
		@extend %header;
		font-size: 20px;
		margin-top: 25px;
	}
	.keyStaff {
		h3 {
			@extend %header;
			font-size: 20px;
			margin-top: 10px;
			@include breakpoint(small) {
				margin-top: 0;
			}
		}
		h4 {
			@extend %header;
			font-size: 16px;
		}
		.staffBio {
			padding-bottom: 10px;
		}
		.staffLinkedin,
		.staffPhone,
		.staffEmail {
			display: inline-block;
		}
	}
}

#contactContent #contactFormWrapper .FormButton {
	@include button(#fff,$green,$footer-green,3px);
	border: 0;
	outline: 0;
}

#contactContent {
	@media (max-width: 768px) {
		margin: 0;
	}
}