/* Fonts */

/*
Roboto 
font-family: 'Roboto', sans-serif;

	Light - 300
	Normal - 400
	Medium - 500

*/


/*
Oswald
font-family: 'Oswald', sans-serif;

	Normal - 400

*/

/*
Patua
font-family: 'Patua One', serif;
*/